---
layout: default
---
<div class="layer--LARGE layer--clean">
    <div class="container">
        <h1>Randy Tolentino</h1>
        <h4 class="accent--gray">Front-end Software Developer</h4>
        <p><a class="link--warm" href="mailto:makertolentino@gmail.com">makertolentino@gmail.com</a></p>
        <ul class="list--social">
            <li>
                <a href="https://github.com/techtolentino">
                    {% include /assets/icon-github.svg %}
                </a>
            </li>
            <li>
                <a href="https://twitter.com/techtolentino">
                    {% include /assets/icon-twitter.svg %}
                </a>
            </li>
            <li>
                <a href="https://linkedin.com/in/randytolentino">
                    {% include /assets/icon-linkedin.svg %}
                </a>
            </li>
            <li>
                <a href="http://randytolentino.com/blog">
                    {% include /assets/icon-blog.svg %}
                </a>
            </li>
        </ul>
    </div>
</div>
