<footer>
    <div class="home--accent"></div>
        <div class="footer--content">
            <section class="footer--third">
                Randy Tolentino<br>
                <span><a href="mailto:makertolentino@gmail.com">makertolentino@gmail.com</a></span>
            </section>
            <section class="footer--third">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit praesentium consequuntur ipsum adipisci soluta perspiciatis eos ducimus corrupti! Atque temporibus harum molestias aliquid iste quisquam eveniet tempore natus deleniti, nesciunt.
            </section>
            <section class="footer--third">
                <ul>
                    <li>Alpha</li>
                    <li>Beta</li>
                    <li>Kappa</li>
                    <li>Delta</li>
                </ul>
            </section>
        </div>
</footer>
