<div class="container">
    <ul class="nav">
        <li class="nav--item"><a href="/">Home</a></li>
        <li class="nav--item"><a href="/about">About</a></li>
        <li class="nav--item"><a href="/blog">Blog</a></li>
        <li class="nav--item"><a href="/work">Work</a></li>
    </ul>
</div>
<div class="container nav--toggle">
    <div class="spinner-master">
        <input type="checkbox" id="spinner-form" />
        <label for="spinner-form" class="spinner-spin">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
        </label>
    </div>
</div>
<div class="nav--mobile">
    <ul class="nav--mobile--menu">
        <a href="/"><li class="nav--mobile--menu-item">Home</li></a>
        <a href="/about"><li class="nav--mobile--menu-item">About</li></a>
        <a href="/blog"><li class="nav--mobile--menu-item">Blog</li></a>
        <a href="/work"><li class="nav--mobile--menu-item">Work</li></a>
    </ul>
</div>
