<div class="container">
    <ul class="nav">
        <li class="nav--item"><a href="/">Home</a></li>
        <li class="nav--item"><a href="/about">About</a></li>
        <li class="nav--item"><a href="/blog">Blog</a></li>
        <li class="nav--item"><a href="/work">Work</a></li>
    </ul>
</div>
<div class="nav--mobile">
    <div class="nav--mobile--toggle">...</div>
    <ul class="nav--mobile--menu">
        <a href="/"><li class="nav--mobile--menu-item">Home</li></a>
        <a href="/about"><li class="nav--mobile--menu-item">About</li></a>
        <a href="/blog"><li class="nav--mobile--menu-item">Blog</li></a>
        <a href="/work"><li class="nav--mobile--menu-item">Work</li></a>
    </ul>
</div>
