.card {
    border: 1px solid $gray-color;
    border-radius: 2px;
    &--title {
        background: $gray-color;
        color: $background-color;
        padding: $spacing-unit/3;
    }

    &--body {
        padding: $spacing-unit/2;
        text-align: left;
    }
}
