.container {
    max-width: $large-screen;
    width: 90%;
    display: block;
    margin: 0 auto;

    &--LEFT {
        max-width: $medium-screen;
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}

@include media-query($small-screen) {
    .container {
        &--LEFT {
            margin: 0 auto;
        }
    }
}
