footer {
    display: flex;
    flex-direction: row;
}

.footer {
    &--content {
        display: flex;
        flex-direction: row;
    }

    &--third {
        width: 30%;
        padding: $spacing-unit / 2;
    }
}

@include media-query($medium-screen) {
    footer {
        flex-direction: column;
        padding-top: $spacing-unit;
    }
}
