.home {
    color: #FDFDFD;
    display: flex;
    justify-content: space-between;
    background: #171717;
    min-height: 100vh;

    &--accent {
        width: 2%;
        background-color: #0AAF98;
    }

    &--block {
        background-color: $background-color;
        background-blend-mode: multiply;
        width: 35%;
        background-image: url('../assets/randy-2016-bw.png');
        background-size: cover;
    }

    &--content {
        background-color: #171717;
        width: 55%;
        padding: 0 2em;
    }
}

@include media-query($medium-screen) {
    .home {
        flex-direction: column;
        justify-content: initial;

        &--accent {
            width: 100%;
            height: 10px;
        }

        &--block {
            flex-shrink: 1;
            width: 100%;
            background-color: #070707;
        }

        &--content {
            background-image: url('../assets/randy-2016-bw.png');
            width: 100%;
            flex-grow: 1;
            background-size: cover;
        }

    }
}
