.home {
    display: flex;
    justify-content: space-between;
    background: $background-color;
    min-height: 100vh;
    color: $text-color;

    &--accent {
        width: 10%;
        background-color: darken($cool-color, 5%);
    }

    &--block {
        width: 35%;
        background-image: url('../assets/ran-2016-mod.png');
        background-size: cover;
    }

    &--content {
        background-color: $background-color;
        width: 50%;
        padding: 0 2em;
        align-self: center;

        &-description {
            max-width: 35em;
            margin-bottom: 3em;
        }
    }

    &--subtitle {
        text-transform: uppercase;
    }

    &--title {
        text-transform: uppercase;
        margin-bottom: $spacing-unit / 2;
    }
}

@include media-query($medium-screen) {
    .home {
        flex-direction: column;
        justify-content: initial;

        &--accent {
            width: 100%;
        }

        &--block {
            flex-shrink: 1;
            width: 100%;
        }

        &--content {
            background-image: url("../assets/ran-2016-mod.png");
            width: 100%;
            flex-grow: 1;
            background-size: cover;
            padding: 0;
            background-color: rgba(247, 247, 247, 0.55);
            background-blend-mode: screen;
        }

    }
}
