.home {
    color: $gray-color;
    display: flex;
    justify-content: space-between;
    background: darken($text-color, 12%);
    min-height: 100vh;

    &--accent {
        width: 10%;
        background-color: darken($cool-color, 5%);
    }

    &--block {
        background-blend-mode: multiply;
        background-color: darken($text-color, 3%);
        width: 35%;
        background-image: url('../assets/ran-bw.png');
        background-size: cover;
    }

    &--content {
        background-color: #040404;
        width: 55%;
        padding: 0 2em;
    }

    &--subtitle {
        text-transform: uppercase;
    }

    &--title {
        text-transform: uppercase;
        margin-bottom: $spacing-unit / 2;
    }
}

@include media-query($medium-screen) {
    .home {
        flex-direction: column;
        justify-content: initial;

        &--accent {
            width: 100%;
            height: 10px;
        }

        &--block {
            flex-shrink: 1;
            width: 100%;
            background-color: #070707;
        }

        &--content {
            background-image: url('../assets/ran-bw.png');
            width: initial;
            flex-grow: 1;
            background-size: cover;
            background-blend-mode: multiply;
            background-color: darken($text-color, 3%);
        }

    }
}
