.image {
    max-width: 100%;

    &--profile {
        max-width: 15em;
        border-radius: 50%;
        border: 1px solid $background-color;
        margin-bottom: $spacing-unit;
        margin-top: $spacing-unit;
    }

    &--svg--icon {
        max-width: 2em;
    }
}

@include media-query($medium-screen) {
    .image {
        &--profile {
            max-width: 12em;
        }
    }
}

@include media-query($small-screen) {
    .image {
        &--profile {
            max-width: 6em;
        }
    }
}
