.layout {

    &--flex {
        display: flex;
    }

    &--third {
        padding: 1em 1em 1em 0;
    }
}

@include media-query($extra-large-screen) {
    .layout {

        &--flex {
            flex-direction: column;
        }

        &--third {
            width: 100%
        }
    }
}
