.list {
    &--social {
        margin: 0;
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
            padding: .5em;
            color: $background-color;

            &:nth-child(1) {
                background: $danger;
            }

            &:nth-child(2) {
                background: lighten($danger, 5%);
            }

            &:nth-child(3) {
                background: lighten($danger, 10%);
            }

            &:nth-child(4) {
                background: lighten($danger, 15%);
            }

            &:nth-child(5) {
                background: lighten($danger, 20%);
            }
        }
    }
}
