header {
    position: fixed;
    max-width: 85.5%;
    width: 100%;
    border-bottom: 1px dotted darken($gray-color, 45%);
    right: 0;
}

.nav {
    list-style: none;
    padding-left: 0;
    float: right;

    &--item {
        display: inline-block;
        color: $background-color;
        font-weight: 300;

        &:not(:last-child) {
            margin-right: $spacing-unit;
        }
    }

    &--link {
        color: $background-color;
        text-decoration: none;

        &:hover {
            border-bottom: 1px solid $cool-color;
            padding-bottom: 18px;
            color: $cool-color;
        }
    }
}

@include media-query($medium-screen) {
    header {
        max-width: 90.5%;
    }

    .nav {

    }
}
