.page {
    background: $background-color;
    min-height: 100vh;
    color: $text-color;
    display: flex;

    &--accent {
        background-color: $cool-color;
        width: 10%;
    }

    &--content {
        padding: 0 1.5em;
    }
}

@include media-query($medium-screen) {
    .page {
        background-color: #FBFBFB;

        &--accent {
            width: 0;
        }

        &--content {
            padding: 0;
            width: 100%;
        }
    }
}
