.post {
    &-list {
        list-style-type: none;
        padding-left: 0;
    }

    &-list-item {
        padding-top: $spacing-unit;
        padding-bottom: $spacing-unit;
        border-bottom: 1px dotted $gray-color;
    }

    &-title {
        margin-bottom: .5em;
    }

    &-link {
        color: $text-color;
        font-weight: 400;
        text-decoration: none;

        &:visited {
            color: $text-color;
        }

        &:hover {
            color: $accent-color;
            font-weight: 400;
        }
    }

    &-meta {
        font-size: .75em;
    }
}
