.accent {
    &--gray {
        color: darken($gray, 15%);
    }

    &--warm {
        color: $danger;
    }

    &--cool {
        color: $primary;
        font-weight: normal;
    }
}

.align {
    &--center {
        text-align: center;
    }
}
