.accent {
    &--gray {
        color: $gray-color;
    }

    &--warm {
        color: $accent-color;
    }

    &--cool {
        color: $cool-color;
    }
}

.align {
    &--center {
        text-align: center;
    }
}
